@model GroupViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Викладач</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand font-weight-bold" style="color:darkblue; font-size:20px;" asp-area="" asp-controller="Home" asp-action="Teacher">
                    @Html.DisplayFor(sub => sub.Subject.SubjectName)  група @Html.DisplayFor(g => g.Group.GroupName)
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="color:darkblue; font-size:15px;" asp-controller="Home" asp-action="TeacherTimetable">Розклад</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:darkblue; font-size:15px;" asp-controller="Home" asp-action="Teacher">Навантаження</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h5 style="color:darkblue;">Список студентів</h5>
            <table class="table">
                <tbody>
                    @foreach (Student s in Model.Group.Students)
                    {
                        <tr>
                            <td style="color:darkblue;">
                                <a href='@Url.Action("StudentGrade", "Home", new { StudentID = s.StudentID, SubjectID = Model.Subject.SubjectID})'>
                                    @s.Surname  @s.Name
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
    <footer class="border-top footer text-muted" style="background-color:darkblue">
        <div class="container" style="color:white">
            &copy; 2021 - Електронний журнал школяра    -   Розробник Дзюрах Іван
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
