@model Student

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Студент</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand font-weight-bold" style="color:darkblue; font-size:20px;" asp-area="" asp-controller="Home" asp-action="Student">
                    @Html.DisplayFor(surname => surname.Surname) @Html.DisplayFor(name => name.Name)
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="color:darkblue; font-size:15px;"  asp-controller="Home" asp-action="Timetable" asp-route-id="@Model.Group.GroupID">Розклад</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:darkblue; font-size:15px;"  asp-controller="Home" asp-action="Student">Предмети</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
           <h5 style="color:darkblue;">Мої предмети</h5>
           <table>
               @foreach(Student_Subject ss in Model.Student_Subjects)
                {
                    <tr>
                        <td>
                            <a style="color:darkblue" asp-controller="Home" asp-action="Grade" asp-route-id="@ss.Subject.SubjectName">@ss.Subject.SubjectName</a>
                        </td>
                    </tr>
                }
           </table>
        </div>
    </main>
    <footer class="border-top footer text-muted" style="background-color:darkblue">
        <div class="container" style="color:white">
            &copy; 2021 - Електронний журнал школяра    -   Розробник Дзюрах Іван
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>